<!DOCTYPE html>

<html lang="es">

<head>

<title> Primer Proyecto PyBD</title>
<link rel="stylesheet" href="style.css">

</head>

<body>

<header>
<h1> <u>HOLA MUNDO</u></h1>
</header>

<main>

<h2>¿Que es un Proyecto Java?</h2>

<p>Un proyecto Java podemos considerarlo como una serie de carpetas ordenadas y organizadas <br>
     de acuerdo con una lógica para mantener organizado el código. Un proyecto suele constar <br>de archivos .java, archivos .class y documentación </p>

<img src="/img/java1.jpg"> 

</main>

<footer>
<a href="https://www.aprenderaprogramar.com/index.php?option=com_content&view=article&id=402:ique-es-un-proyecto-java-organizacion-de-archivos-java-class-y-otros-codigo-fuente-y-maquina-cu00615b&catid=68&Itemid=188" class="boton-redirec"> Mas Información</a> <br>

<a> https://www.aprenderaprogramar.com/index.php?option=com_content&view=article&id=402:ique-es-un-proyecto-java-organizacion-de-archivos-java-class-y-otros-codigo-fuente-y-maquina-cu00615b&catid=68&Itemid=188 </a>

</footer>



</body>


</html>